body{
    margin: 0;
    padding: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%));
      /* sourse:website -> CSSgradient.io  */
}
.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    
}
.img{
    border: none;
    margin: 0px;
    padding: 150px;
    background-image:url("./digital\ background.jpg");
}
#wrapper{
    border: 2px solid white;
    padding: 1rem;
    align-content: center;
}
.container span{
    margin-left: 10px;

}
#ampm{
    font-size: 3rem;
    align-items: end;
}